/*Reset*/

* {
  box-sizing: border-box; /* Means that when we add margin or padding it doesn't affect things*/
  margin: 0;
  padding: 0;
}

/*Root styling*/

:root {
  --colour-brandblue: rgb(0, 47, 108);
  --colour-brand1: #2c2321;
  --colour-brand2: rgb(255, 232, 0); /* Harper yellow */
  --colour-brand3: #9dab34;
  --colour-brand4: rgb(87, 44, 95); /* Aubergine */
  --colour-brand5: rgb(35, 47, 132);
  --colour-brand6: rgb(203, 211, 0);
  --colour-brand7: rgb(0, 68, 19);
  --colour-brand8: rgb(83, 207, 186); /* Aqua */
  --colour-brand9: rgb(162, 229, 210);
  --colour-brand10: #252628;
  --colour-brand11: rgb(0, 160, 175);
  --colour-brand12: rgb(0, 48, 64);
  --colour-brand13: #c0d7b0; /*Ag1 */
  --colour-brand14: #79b060; /* Ag2 */
  --colour-brand15: #ffab82; /* CEWG1 */
  --colour-brand16: #ff5704; /* CEWG2 */
  --colour-brand17: #f3977c; /* Animals1 */
  --colour-brand18: #facebd; /* Animals2 */
  --colour-brand19: #582a55; /* Business1 */
  --colour-brand20: #a0859e; /* Business2 */
  --colour-brand21: #002f87; /* Engineering1 */
  --colour-brand22: #7f97c3; /* Engineering2 */
  --colour-brand23: #ffce00; /* Food1 */
  --colour-brand24: #ffe67f; /* Food2 */
  --colour-brand25: #eb5b6a; /* REALM1 */
  --colour-brand26: #f6b5b4; /* REALM2 */
  --colour-brand27: #8db8ba; /* VN1 */
  --colour-brand28: #c6dbdc; /* VN2 */
  --colour-brand29: #5f4595; /* Physio1 */
  --colour-brand30: #ab9dcd; /* Physio2 */
  --colour-brand31: #baaea9; /* Zoology1 */
  --colour-brand32: #aa9c95; /* Zoology2 */
  --colour-brand33: rgb(218, 218, 218); /* Gray */
  --colour-brand-slate: rgb(29, 37, 45);
}

/* Base Selector Styles*/
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: white;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

a {
  text-decoration: none;
  color: #fff;
}

a.inline-text-link {
  color: var(--colour-brandblue);
  text-decoration: underline;
}

a.inline-text-link:visited {
  color: var(--colour-brand4);
}

ul {
  list-style: none;
}

ul.list-inline {
  list-style: inside;
}

ul.list-inline li {
  margin-left: 2.4rem;
}

img {
  max-width: 100%;
}

p {
  margin-bottom: 5px;
}
.italic {
  font-style: italic;
}
/* Navigation styles */
.navbar {
  background: var(--colour-brandblue);
  color: #fff;
  padding: 20px;
}

.navbar .container-lg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.navbar .logo {
  width: 200px;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar ul li a {
  padding: 10px 20px;
  display: block;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
}

.navbar ul li a:hover {
  padding: 10px 20px;
  display: block;
  font-weight: 600;
  transition: 0.5s;
  color: var(--colour-brand2);
}

.navbar ul li a i {
  margin-left: 10px;
}

/*Navbar dropdown*/

.dropdown {
  position: relative;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

.navbar .dropdown:not(.active) .dropdown-menu {
  display: none;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--colour-brandblue);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0;
  z-index: 100;
  flex-direction: column;
}

.dropdown.active .dropdown-menu {
  display: flex;
}

.dropdown-menu li {
  margin: 0;
  padding: 0;
  min-width: max-content;
}

.dropdown-menu li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  min-width: max-content;
}

.dropdown-menu li a:hover {
  background-color: var(--colour-brand2);
  color: #333 !important;
  min-width: max-content;
}

/* ===============================
   HERO SECTION STYLES
   =============================== */

/* Hero */

.hero {
  background: url(../images/hero-image.jpg) no-repeat;
  background-size: cover;
  height: 50vh;
  background-position: bottom;
  margin: 0;
}

/* Override hero image per page */

.hero-biodiversity {
  background-image: url(../images/sandra-seitamaa-2VmPsHzI5aY-unsplash.jpg);
}

.hero-lte {
  background-image: url(../images/combine.jpeg);
}

.hero .container {
  display: grid;
  grid-template-columns: 1fr;
  /*grid-template-rows: 2fr 1fr;*/
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
}

.hero .hero-content {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero .hero-text {
  width: 100%;
  text-align: center;
}

/*Data categories*/

.data-categories {
}

.data-cat-heading {
  text-align: center;
}

.data-categories .data-cat-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  margin: 30px;
}

.data-categories .data-cat-grid .card {
  display: grid;
  grid-template-rows: 2fr 0.5fr;
  position: relative;
}

.data-categories .card:hover {
  background: var(--colour-brand21);
  color: #fff;
  transition: 0.5s;
}

.card-img {
  width: 100%;
  height: 200px; /* fallback */
  object-fit: cover;
}

@media (min-width: 768px) {
  .card-img {
    height: 18vw;
  }
}

.data-categories .data-cat-grid .card .card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; /* <- missing */
  width: 100%;
  z-index: 1; /* <- needed to be on top */
}

.card-link-wrapper {
  display: block;
  color: inherit;
  text-decoration: none;
}

.card-link-wrapper:hover .card {
  background: var(--colour-brand21);
  color: #fff;
}

/*Footer*/

.footer {
  padding: 40px 0;
}

.footer h4 {
  margin-bottom: 10px;
}

.footer ul li {
  line-height: 2.5;
}

.footer a {
  color: #ccc;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
}

.footer .card {
  margin: 20px 30px 20px 10px;
  background-color: var(--colour-brand21);
  color: #fff;
}

.footer a:hover {
  color: var(--colour-brand23);
}

footer a i {
  font-size: 1.5rem;
  color: #fff;
  margin: 10px;
  transition: color 0.3s;
}

footer a:hover i {
  color: var(--colour-brand23);
}

/*Hamburger button*/
.hamburger-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
}

.hamburger-button .hamburger-line {
  width: 30px;
  height: 3px;
  background: #fff;
  margin: 6px 0;
}

/* Mobile Menu */

.mobile-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 250px;
  height: 100%;
  z-index: 100;
  background: var(--colour-brandblue);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
}

.mobile-menu.active {
  right: 0;
}

.mobile-menu ul {
  margin-top: 80px;
  padding-right: 10px;
}

.mobile-menu ul li {
  margin: 10px 0;
}

.mobile-menu ul li a {
  font-size: 20px;
  transition: 0.3s;
}

.mobile-dropdown {
  position: relative;
}

.mobile-dropdown-toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

.navbar .mobile-dropdown:not(.active) .mobile-dropdown-menu {
  display: none;
}

.mobile-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--colour-brandblue);
  /*padding: 10px;*/
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0;
  z-index: 100;
  flex-direction: column;
}

.mobile-dropdown.active .mobile-dropdown-menu {
  display: flex;
}

.mobile-dropdown-menu li {
  margin: 0;
  padding: 0;
  min-width: max-content;
}

.mobile-dropdown-menu li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  min-width: max-content;
  font-size: 18px !important;
}

.mobile-dropdown-menu li a:hover {
  background-color: var(--colour-brand2);
  color: #333 !important;
  min-width: max-content;
}

/* Media queries */
@media (max-width: 960px) {
}

@media (max-width: 670px) {
  /*we want the main menu to disapper when we get to 670px*/
  .navbar .main-menu {
    display: none;
  }

  .navbar .hamburger-button {
    display: block;
  }
}

@media (max-width: 500px) {
}
