<footer class="footer bg-blue">
  <div class="container">
    <div class="footer-grid">
      <!-- Column 1 -->
      <div class="card">
        <h4>Harper Adams University</h4>
        <p>Newport</p>
        <p>Shropshire</p>
        <p>TF10 8NB</p>
        <ul>
          <li><a href="https://www.harper-adams.ac.uk/">harper-adams.ac.uk</a></li>
        </ul>
        <div class="social-icons">
          <a href="https://www.facebook.com/HarperAdams" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/HarperAdamsUni" target="_blank"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://www.tiktok.com/@harperadamsuniversity" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
          <a href="https://www.linkedin.com/school/harper-adams-university/posts/?feedView=all" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://vimeo.com/HarperAdams" target="_blank"><i class="fa-brands fa-vimeo"></i></a>
        </div>
      </div>

      <!-- Column 2 -->
      <div class="card">
        <h4>Harper Adams Future Farm</h4>
        <ul>
          <li><a href="https://www.futurefarm.zone/">Future Farm Zone</a></li>
          <li><a href="mailto:futurefarmenquires@harper-adams.ac.uk">Contact the Future Farm</a></li>
        </ul>
        <div class="social-icons">
          <a href="https://www.facebook.com/profile.php?id=61573796195479&locale=en_GB" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/futurefarmhau/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://www.tiktok.com/@futurefarmhau" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
        </div>
      </div>

      <!-- Column 3 -->
      <div class="card">
        <h4>AgriDat - Harper Adams Data Science</h4>
        <ul>
          <li><a href="https://www.harper-adams.ac.uk/research/929/research-centre/agricultural-data-science/">Centre for Agricultural Data Science</a></li>
          <li><a href="mailto:agridat@harper-adams.ac.uk">Contact AgriDat</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
