<nav class="navbar">
  <div class="container flex justify-between align-center">
    <div class="logo">
      <a href="/index.html">
        <img src="/images/HAU-logo.svg" alt="Harper Adams Logo" />
      </a>
    </div>
    <div class="main-menu">
      <ul class="flex">
        <li><a href="/index.html">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" id="dataToggle">Data <i class="fa-solid fa-caret-down"></i></a>
          <ul class="dropdown-menu" id="dataDropdown">
            <li><a href="https://harperadams.farmmetrics.net/app/login" target="_blank">Farm Data <i class="fa-solid fa-up-right-from-square fa-2xs"></i></a></li>
            <li><a href="https://hacarbon.github.io/dash/index.html#" target="_blank">Carbon <i class="fa-solid fa-up-right-from-square fa-2xs"></i></a></li>
            <li><a href="/pages/biodiversity.html">Biodiversity</a></li>
            <li><a href="/pages/lte_exp.html">Long-term Experiments</a></li>
                      
            <li><a href="#" target="_blank">Harper Data Verse <i class="fa-solid fa-up-right-from-square fa-2xs"></i></a></li>
            <li><a href="/pages/farmNetworks.html">Farm Networks</a></li>
          </ul>
        </li>
        <li><a href="/contribute.html">Contribute</a></li>
        <li><a href="/faq.html">FAQ</a></li>
      </ul>
    </div>
  </div>
</nav>
