/*Project page content*/
.project-content {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 1px;
}

.project-content .project-main {
  margin: 30px 0px 30px 40px;
  padding: 10px;
}

.project-main-header {
  background-color: var(--colour-brand25);
  padding: 20px 10px;
}

.project-main-header {
  background-color: var(--colour-brandblue);
  color: #fff;
  border-bottom: var(--colour-brand23) 15px solid;
  padding: 20px 10px 0px 10px;
}

.project-content .project-aside {
  margin: 10px 10px 30px 0px;
  padding: 0px 20px 0px 10px;
}
.project-aside-content {
  padding: 0px 0px;
}

.project-aside-content .aside-group {
  margin-bottom: 10px;
  padding: 10px 0 0 0;
}
.project-aside-content .aside-group h4 {
  margin-bottom: 10px;
  padding: 10px;
  border-left: var(--colour-brand23) 5px solid;
  background-color: var(--colour-brandblue);
  color: #fff;
}

.project-aside-content .aside-group p a {
  margin-bottom: 10px;
  padding: 10px 20px 0 20px;
  color: var(--colour-brand-slate);
}
